/**
*
* Fonts will be listed here
*
**/

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Abel);


/**
*
* Custom Variables will go here
*
**/
$brand-color: #000;
$first_color: #FDC800;


$base_font: "Yanone Kaffeesatz";
$first_font: "Abel";


$bar-width: 100px;
$bar-height: 10px;
$bar-spacing: 25px;

/**
*
* Load all sass files here
*
**/

@import "base-styling";
@import "element-styling";
@import "margins";
@import "padding";
@import "borders";
@import "typo";
@import "homepage";
@import "loader";
@import "work";
@import "projects";
@import "contact";
@import "blog";
@import "animate";
