<!---footer-part start-->

<div class="row post10 fullWidth bg-black footer-part">
  <div class="mystyle1 footer-detail text-center">
    <ul>
        <li><a href="">home</a></li>
        <li><a href="">about</a></li>
        <li><a href="">contact</a></li>
        <li><a href="">trademark</a></li>
        <li><a href="">liscence</a></li>
    </ul>
    <h2>violetta ... @ 2016</h2>
  </div>
  <div class="mystyle1 footer-icon text-center">
    <ul>
        <li><a href=""><i class="fa fa-facebook"></i></a></li>
        <li><a href=""><i class="fa fa-twitter"></i></a></li>
        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
        <li><a href=""><i class="fa fa-github"></i></a></li>
        <li id="pageScroll"><a href=""><i class="fa fa-angle-up"></i></a></li>
    </ul>
  </div>
</div>

<!---footer-part end-->

<!---sticky-buttons start-->

<div class="row">
  <div class="mystyle">
    <div class="subscribe-btn">
        <a><i class="fa fa-envelope-o" data-toggle="animatedModal10"></i></a>
    </div>
    <div class="nav-btn">
        <a> <i class="fa fa-search" data-toggle="animatedModal09"></i></a>
    </div>
  </div>
</div>

<!---sticky-buttons end-->

<!---modal-part-->

<div class="reveal" id="animatedModal10" data-reveal data-close-on-click="true" data-animation-in="spin-in" data-animation-out="spin-out">
  <form action="" method="post" data-abide novalidate>
    <div data-abide-error class="alert callout" style="display: none;">
      <p><i class="fi-alert"></i> Please Provide a Valid E-Mail Address</p>
    </div>
    <label>
      <input type="text" placeholder="Enter Your E-Mail Adress"  aria-describedby="exampleHelpText" required pattern="email">
      <span class="form-error">E-Mail Required</span>
    </label>  
    <a type="submit" value="Submit">subscribe</a>
  </form>
</div>

<!---modal-part-->

<div class="reveal" id="animatedModal09" data-reveal data-close-on-click="true" data-animation-in="hinge-in-from-top" data-animation-out="hinge-out-from-top">
  <form action="" method="post">
    <input type="text" placeholder="What Are You Looking For...">
  </form>
</div>

