<!-- loader -->

<div id="preloader">
    <div id="spinner"></div>
</div>


<!--loader end -->

<!--off-canvas-fixed start-->

<nav class="pushmenu pushmenu-left">
  <ul class="links">
      <li><a href="#" class="sk-violetta-link">violetta</a></li>
      <li class="mymenu"><a href="#">home</a> <i class="fa fa-angle-down"></i>
        <ul class="dropdown">
          ` <li><a href="#">agency</a></li>
            <li><a href="#">photography</a></li>
            <li><a href="#">marketplace</a></li>
            <li><a href="#">bloging</a></li>
            <li><a href="#">resume CV</a></li>
            <li><a href="#">portfolio</a></li>
            <li><a href="#">standared menu</a></li>
        </ul>
      </li>
      <li class="mymenu1"><a href="#">works</a> <i class="fa fa-angle-down"></i>
        <ul class="dropdown1">
            <li><a href="#">classic 2 col</a></li>
            <li><a href="#">classic 3 col</a></li>
            <li><a href="#">classic 4 col</a></li>
            <li><a href="#">masonry 2 col</a></li>
            <li><a href="#">masonry 3 col</a></li>
            <li><a href="#">masonry 4 col</a></li>
        </ul>
      </li>
      <li class="mymenu2"><a href="#">projects</a> <i class="fa fa-angle-down"></i>
        <ul class="dropdown2">
            <li><a href="#">single portfolio</a></li>
            <li><a href="#">single photography</a></li>
            <li><a href="#">single marketplace</a></li>
            <li><a href="#">single blog</a></li>
        </ul>
      </li>
      <li class="mymenu3"><a href="#">pages</a> <i class="fa fa-angle-down"></i>
        <ul class="dropdown3">
            <li><a href="#">our studio</a></li>
            <li><a href="#">element</a></li>
            <li><a href="#">defult page</a></li>
            <li><a href="#">not found</a></li>
            <li><a href="#">site map</a></li>
        </ul>
      </li>
      <li><a href="#">blog</a></li>
      <li><a href="#">contact</a></li>
  </ul>
</nav>


<!--off-canvas-fixed end-->

